.spinner {
  margin: auto;
  text-align: center;
  background-color: rgb(252, 197, 95);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: genna 1.5s linear infinite;
  animation-direction: alternate;
}

@keyframes genna {
  from { transform: translateY(0%); }
  to { transform: translateX(300%); }
}