.spinner {
  margin: auto;
  background-color: rgb(252, 197, 95);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: genna 1.5s linear infinite;
  animation-direction: alternate;
}

@keyframes genna {
  from { transform: translateY(0%); }
  to { transform: translateX(200%); }
}

@media only screen and (max-width: 900px){
  .spinner {
    width: 100px;
    height: 100px;
  }
}